@page
@model WebApplication1_Gluhovskiy.Pages.Series1.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>Series</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Series.SeriesID" />
            <div class="form-group">
                <label asp-for="Series.SeriesName" class="control-label"></label>
                <input asp-for="Series.SeriesName" class="form-control" />
                <span asp-validation-for="Series.SeriesName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Series.SeriesDescription" class="control-label"></label>
                <textarea asp-for="Series.SeriesDescription" class="form-control"></textarea>
                <span asp-validation-for="Series.SeriesDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
