@page
@model WebApplication1_Gluhovskiy.Pages.BioModel
@{
    ViewData["Title"] = "Bio";
}

<h1>Биография Дмитрия Глуховского</h1>

<style>
    .leftimg {
        float: left; /* Выравнивание по левому краю */
        margin: 7px 7px 7px 0; /* Отступы вокруг картинки */
    }
</style>

<div>
    <img src="https://upload.wikimedia.org/wikipedia/commons/3/3a/Dmitry_Glukhovsky_MOW_03-2011.jpg" alt="Fuck you" width="300" height="371" class="leftimg">
    <h3>Общие сведения</h3>
    <p>
        Дми́трий Алексе́евич Глухо́вский (род. 12 июня 1979, Москва, СССР) — российский писатель и журналист, автор постапокалиптических романов «Метро 2033» и «Метро 2034»,
        романов-антиутопий «Метро 2035» и «Будущее», мистического романа «Сумерки» и реалистического романа «Текст», сборника «Рассказы о Родине».
        Создатель книжной серии «Вселенная Метро 2033». Радиоведущий, колумнист, военный корреспондент.
        Совершил первый в мире прямой телерепортаж c Северного Полюса в июле 2007 года.
        Родился и вырос в Москве (отец — поэт Алексей Глуховский), где окончил школу 1231 на Арбате, с углублённым изучением французского языка.
        Высшее образование (по специальностям журналистика и международные отношения) получил в Иерусалимском университете.
    </p>

    <h3>Литературная деятельность</h3>
    <p>
        Свой первый роман «Метро 2033», принёсший ему известность, Глуховский задумал ещё в старших классах школы и начал писать уже на первых курсах университета.
        Первая версия книги была готова в 2002 году. Получив отказ от всех издателей, которым была отправлена рукопись, Дмитрий опубликовал её в Интернете — бесплатно
        и целиком — на специально созданном сайте. В 2002 году это было новаторское, если не беспрецедентное решение. В 2005 году книга была выпущена издательством «Эксмо»,
        потом в 2007 году — издательством «Популярная литература»; сейчас выходит в издательстве «АСТ». Роман стал одним из главных российских бестселлеров нулевых, его
        тираж по всему миру превышает миллион экземпляров. Книга переведена на 37 иностранных языков, стала основой для трёх видеоигр, а права на её экранизацию были
        выкуплены голливудской киностудией MGM.
    </p>
    <p>
        Следующие книги Глуховского — «Сумерки» (2007), «Метро 2034» (2009), «Рассказы о Родине» (2010) и «Будущее» (2013) также становились национальными
        бестселлерами и переводились на европейские и азиатские языки. Дмитрий продолжает экспериментировать с форматами: роман «Будущее», к примеру,
        был премьерно бесплатно опубликован в соцсети «ВКонтакте», а его главы сопровождались треками специально созданной звуковой дорожки и иллюстрациями.
        В 2015 году Глуховский завершил трилогию о пост-апокалиптическом мире «Метро» романом «Метро 2035» и посвятил себя работе над либретто американской
        оперы «Три астронавта» по мотивам одноимённого произведения Умберто Эко. Дмитрием было написано законченное либретто для партии русского космонавта
        (партиями прочих героев занимались другие авторы, их работа также была завершена), однако из-за затянувшейся работы композиторов над музыкой к опере и
        смерти обоих авторов изначального произведения — писателя Умберто Эко и художника-иллюстратора Эудженио Карми — в феврале 2016 года работа над проектом
        была приостановлена из-за вопросов авторских прав.
    </p>
    <p>
        В 2017 году Дмитрий закончил работу над своим первым реалистическим романом «Текст», публикация которого состоялась 15 июня 2017. Спустя год роман
        был превращён в театральный спектакль и поставлен на сцене Московского драматического театра имени М. Н. Ермоловой режиссёром Максимом Диденко, премьера
        состоялась 15 мая 2018 года. Глуховский принимал участие в работе над постановкой и присутствовал на премьере в зрительном зале.
    </p>
    <p>
        В настоящее время Дмитрий Глуховский работает над несколькими романами (согласно рабочему описанию, данному автором — это будут «магический реализм на
        русской почве и заполярный хоррор») и сценариями, а также графическими романами «Пост» и «Падающая звезда», выход которых временно откладывается из-за
        задержек в работе иллюстраторов проектов (Илья Яцкевич, Диана Степанова и Артём Чебоха соответственно).
    </p>
</div>



